
#game {
    width: 45%;
    min-width: 500px;
    background-color: rgb(0, 255, 179);
    padding: 50px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 0 35px 35px ;

}

.scores{
    margin-bottom: 50px;
    text-align: right;
}

 button{
    font-size: 15px;
    box-shadow: 0 13px 13px ;
    cursor: pointer;   
}
